<div id="<%= dom_id post %>">
  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.user_id %>
  </p>

  <p>
    <strong>Post likes count:</strong>
    <%= post.post_likes_count %>
  </p>

  <p>
    <strong>Reposts count:</strong>
    <%= post.reposts_count %>
  </p>

  <p>
    <strong>Comments count:</strong>
    <%= post.comments_count %>
  </p>

</div>
